.titulo{
    color: rgb(217, 185, 247);
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
    text-align: center;
}
.titulo-formacao{
    color: rgb(217, 185, 247);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
}
.titulo-competencias{
    color: rgb(217, 185, 247);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
}



.container{
    background-color: rgb(0, 0, 0);
   
}



.tabela-competencias{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    border-spacing:0;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgba(255, 255, 255, 0.651);
    border-radius: 5px;
}

.imagem{
    width: 8%;
    height: 8%;
    border-radius: 150px;
    border: 3px solid rgb(255, 255, 255);
    
   
}
.descricao-formacao{
    
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgba(255, 255, 247);
    border-radius: 5px;
}

header{
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;    align-content: center;

   
}

.menu{
        justify-content: space-between;
    
    


}
.menu ul{ 
    list-style: none;
    display: flex;
    justify-content: space-between;

    
}
.menu a{
    text-decoration: none;

    

}
.titulo-resumo{
    
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgba(217, 185, 255);
    border-radius: 5px
}

.subtitulo-resumo{
   
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(245, 245, 245);
    border-radius: 5px
}
.resumo{
    
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(245, 245, 245);
    border-radius: 5px
}

.competencias{
    display: flex;
    align-items: center;
    flex-direction: column;
}