.titulo{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
    text-align: center;
}
.titulo-formacao{
    color: rgb(178, 125, 228);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.titulo-competencias{
    color: rgb(178, 125, 228);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}


.cabecalho{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius:10px;
    color: rgba(255, 0, 0, 0.651);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
    
}
.container{
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.651);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
}
.competencias{
    text-align: center;
}
.resumo{
    text-align: center;
}
.formacao{
    text-align: center;
}


.tabela-competencias{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    border-spacing:0;
    padding-left: 30%;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgba(255, 255, 255, 0.651);
    border-radius: 5px;
}
.tabela-competencias{
    padding: 10px;
    
    border: 1px solid rgb(255, 255, 255);
    width: 10

}

.imagem{
    width: 8%;
    height: 8%;
    border-radius: 150px;
    border: 3px solid rgb(255, 255, 255);
    padding: 15px;
}
.descricao -formacao{
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgba(255, 255, 255, 0.651);
    border-radius: 5px;
}

.menu{
    display: flex;
    justify-content:
    space-between;
    list-style: none;
    text-decoration: none;

}

