body{
    font-family: 'Times New Roman', Times, serif;
    color: #b0f6f2;
    background-color: rgba(0, 0, 0, 0.97);
    line-height: 1.5;

}
header{
    background-color: rgba(0, 0, 0, 0.97);
    color: #b0f6f2;
    box-shadow: #b0f6f2;
    padding: 16px 32px;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    max-width: 1200px;
    margin: 0 auto;
}
nav .logo{
    font-weight: 600;
    font-size: 27px;
    color: #fffefe;
    transition: transform 0.3s ease-in-out;
}
nav .logo:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
}
nav li{
    display: flex;
    margin-left: 20px;
    list-style: none;
    text-decoration: none;
}
nav a{
    color: #ffffff;
    
} 
